<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>

    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel='stylesheet' href='stylesheets/game.css'/>
    <link rel="stylesheet" href="lib\cropperClipping\cropper.min.css">
    <link rel="stylesheet" href="lib\cropperClipping\ImgCropping.css">
    <link rel="stylesheet" href="lib/sweetAlert2/sweetalert2.css">

</head>
<body class="lobby_b">
<nav class="navbar navbar-expand-sm bacolorgreen">
    <ul class="navbar-nav">
        <li class="nav-item">
            <img id="headico" class="img " src="img/test.jpg"/>
        </li>
        <li class="nav-item">
            <span id="user_name" class="nav-link font_white bottom" href="#">NAME</span>
        </li>
        <li class="nav-item">
            <span class="nav-link font_white" href="#">SCORE</span>
        </li>
        <li class="nav-item">
            <a href="./">
                <img class="bottom bottomz " src="img/u56.png"/>
            </a>
        </li>
    </ul>
</nav>
<div class="contain">
    <div id="board">
        <script>
            for (var i = 0; i < 64; ++i) {
                if (i % 8 == 0)
                    document.write('<div style="clear:both"></div>');
                document.write("<div class = 'grids' onclick = 'ClickGrid(this)'>"
                        + "<img src='img/b.png' style='display:none' id='b" + i + "'/><img src='img/w.png' style='display:none' id='w" + i + "'/>"
                        + "</div>");
            }
        </script>
        <!--<div id='choose_color'>-->
            <!--<button id="ready" type='button' class='btn btn-danger' onclick='' style='margin-left:10px'>Ready</button>-->
        <!--</div>-->
    </div>
    <div class="side">
        <div class="time_t">TIME</div>
        <h3 id="time">30</h3>
        <button id="re" class="resign btn btn-warning" onclick="res()">RESIGN</button>
        <div class="count">
            <div class=" count_b">
                <img src="img/b.png"/>
                <span id="c_white"> 2</span>
            </div>
            <div class="count_w">
                <img src="img/w.png"/>
                <span id="c_black">2</span>
            </div>
        </div>

    </div>
    <div class="modal fade" id="end_info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="block modal-header ">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title float_left">Game Over</h4>
                </div>
                <h5 class="modal-body" id="result"></h5>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Init()">Play again
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--图片裁剪框 start-->
    <div style="display: none" class="tailoring-container">
        <div class="black-cloth" onclick="closeTailor(this)"></div>
        <div class="tailoring-content">
            <div class="tailoring-content-one">
                <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                    <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
                    选择图片
                </label>
                <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
            </div>
            <div class="tailoring-content-two">
                <div class="tailoring-box-parcel">
                    <img id="tailoringImg">
                </div>
                <div class="preview-box-parcel">
                    <p>图片预览：</p>
                    <div class="square previewImg"></div>
                </div>
            </div>
            <div class="tailoring-content-three">
                <button class="l-btn cropper-reset-btn">复位</button>
                <button class="l-btn cropper-rotate-btn">旋转</button>
                <button class="l-btn cropper-scaleX-btn">换向</button>
                <button class="l-btn sureCut" id="sureCut">确定</button>
            </div>
        </div>
    </div>
    <!--图片裁剪框 end-->
</div>
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/popper/popper.js"></script>
<script src="lib/bootstrap/bootstrap.js"></script>
<script src="lib/sweetAlert2/sweetalert2.js"></script>
<script src="lib/socketIO/socket.io.js"></script>
<script src="lib/js-cookie/js.cookie.js"></script>
<script src="lib/socketIO/socket.io.js"></script>
<script src="lib/cropperClipping/cropper.min.js"></script>

<script src="js/gamePage.js"></script>
<script src="lib/cropperClipping/clippingTool.js"></script>
</html>
