<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.less'/>
    <link rel='stylesheet' href='stylesheets/lobby.less'/>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">

</head>
<body>
大厅界面
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/popper/popper.js"></script>
<script src="lib/bootstrap/bootstrap.js"></script>
</html>
