<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
    <link rel='stylesheet' href='stylesheets/lobby.css'/>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="lib/sweetAlert2/sweetalert2.css">
    <link rel="stylesheet" href="lib\cropperClipping\cropper.min.css">
    <link rel="stylesheet" href="lib\cropperClipping\ImgCropping.css">

</head>
<body class="lobby_b">
<nav class="navbar navbar-expand-sm bacolorgreen">
    <ul class="navbar-nav">
        <li class="nav-item">
            <img id="headico" class="img " src="img/test.jpg"/>
        </li>
        <li class="nav-item">
            <span id="user_name" class="nav-link font_white bottom" href="#">NAME</span>
        </li>
        <li class="nav-item">
            <span id="user_score" class="nav-link font_white" href="#">SCORE</span>
        </li>
        <li class="nav-item">
            <a href="./">
                <img class="bottom bottomz " src="img/u56.png"/>
            </a>
        </li>
    </ul>
</nav>
<div class="containe">
    <div class="lobby">
        {{#each deskNum}}
            <div class="desk">
                <div class="seat d-flex flex-column justify-content-center">
                    <img class="img_left img_seat" src="img/u34.png" title="0"/>
                    <div class="btnGroup">
                        <button class="btn btn-success ready">准备</button>
                        <button class="btn btn-danger leave">离开</button>
                    </div>
                </div>
                <img class="img_mid " src="img/u32.png" title="0"/>
                <div class="seat d-flex flex-column justify-content-center">
                    <img class="img_right img_seat" src="img/u34.png" title="0"/>
                    <div class="btnGroup">
                        <button class="btn btn-success ready">准备</button>
                        <button class="btn btn-danger leave">离开</button>
                    </div>
                </div>

            </div>

        {{/each}}
    </div>
    <div class="chatroom" style="display: none;" >
        <div class="msg_send">
            <input id="msg" class="chat form-control" type="text">
            <button id="send" class="btn btn-success btn_z">SEND</button>
        </div>
        <div id="display_msg" class="pre-scrollable hmax"></div>
    </div>
    <div class="chatroom" style="text-align: right" >
        <div class="msg_send">
            <input id="msg_m" class="chat form-control" type="text">
            <button id="send_m" class="btn btn-success btn_z">SEND</button>
        </div>
        <div id="display_msg_m" class="pre-scrollable hmax"></div>
    </div>
</div>
<!--图片裁剪框 start-->
<div style="display: none" class="tailoring-container">
    <div class="black-cloth" onclick="closeTailor(this)"></div>
    <div class="tailoring-content">
        <div class="tailoring-content-one">
            <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
                选择图片
            </label>
            <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
        </div>
        <div class="tailoring-content-two">
            <div class="tailoring-box-parcel">
                <img id="tailoringImg">
            </div>
            <div class="preview-box-parcel">
                <p>图片预览：</p>
                <div class="square previewImg"></div>
            </div>
        </div>
        <div class="tailoring-content-three">
            <button class="l-btn cropper-reset-btn">复位</button>
            <button class="l-btn cropper-rotate-btn">旋转</button>
            <button class="l-btn cropper-scaleX-btn">换向</button>
            <button class="l-btn sureCut" id="sureCut">确定</button>
        </div>
    </div>
</div>
<!--图片裁剪框 end-->
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/popper/popper.js"></script>
<script src="lib/bootstrap/bootstrap.js"></script>
<script src="lib/sweetAlert2/sweetalert2.js"></script>
<script src="lib/socketIO/socket.io.js"></script>
<script src="lib/js-cookie/js.cookie.js"></script>
<script src="lib/cropperClipping/cropper.min.js"></script>
<script src="lib/cropperClipping/clippingTool.js"></script>
<script src="js/lobbyPage.js"></script>
</html>
