<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
    <link rel='stylesheet' href='stylesheets/login.css'/>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">

</head>
<body id="backcl">
<div id="base" class="">
    <div id="logo" class="label">
        <div id="u17" class="text" style="visibility: visible;">
            <p><span>RESERVI</span></p>
        </div>
    </div>
    <div id="loginbox"  >
        <div id="loginbox_div" class="">
            <div id="text" class="">
                <div id="titletext"  style="visibility: visible;">
                    <p><span>LOGIN NOW</span></p>
                </div>
            </div>
            <div id="username_div" class="ax_default label">
                <div id="username_text" class="text" style="visibility: visible;">
                    <img id="username_img" class="img " src="img/u20.png"/>
                    <p><span>USERNAME</span></p>
                </div>
            </div>
            <div id="username">
                <input id="username_input" type="text" name="user——name" >
                <!--用户名输入-->
            </div>
            <div id="pass_div" class="ax_default label">
                <div id="pass_text" class="text" style="visibility: visible;">
                    <img id="pass_img" class="img " src="img/u18.png"/>
                    <p><span>PASSWORD</span></p>
                </div>
            </div>
            <div id="pass" >
                <input id="pass_input" type="text" name="password" >
                <!--密码输入-->
            </div>
            <button class="btn" type="button" id="login">LOG IN</button>
            <div id="info" class="text" style="visibility: visible;">
                <p><span style="color:#FFFFFF;">By clicking &quot;</span><span ><a href="./register" style="color:#FFCC33;">here</a></span><span style="color:#FFFFFF;">&quot; to sign up</span></p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/popper/popper.js"></script>
<script src="lib/bootstrap/bootstrap.js"></script>
<script src="js/loginPage.js"></script>

</html>
