<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
    <link rel='stylesheet' href='stylesheets/register.css'/>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="lib/sweetAlert2/sweetalert2.css">


</head>
<body class="backcl">
<div class="base">
    <div  class="label logo">
        <p><span>RESERVI</span></p>
    </div>
    <div class="loginbox" >
        <div class="loginbox_div">
            <div class="text">
                <div class="title_text">
                    <p><span>LOGIN NOW</span></p>
                </div>
            </div>
            <div class="title_block">
                <div class="title_text " style="visibility: visible;">
                    <img class="icon " src="img/u20.png"/>
                    <p><span>USERNAME</span></p>
                </div>
            </div>
            <div class="input_block">
                <input id="username_input_reg" class="input_style form-control" type="text">
                <!--用户名输入-->
            </div>
            <div class="title_block">
                <div class="title_text" style="visibility: visible;">
                    <img class="icon " src="img/u18.png"/>
                    <p><span>PASSWORD</span></p>
                </div>
            </div>
            <div class="input_block" >
                <input id="pass_input_reg" class="input_style form-control" type="password">
                <!--密码输入-->
            </div>
            <div class="title_block">
                <div class="title_text" style="visibility: visible;">
                    <img class="icon " src="img/u18.png"/>
                    <p><span>PASSWORD COMFIRM</span></p>
                </div>
            </div>
            <div class="input_block" >
                <input id="pass_input_cf" class="input_style form-control" type="password">
                <!--密码输入-->
            </div>
            <button class="btn btn-warning" type="button" id="register">REGISTER</button>
        </div>
    </div>
</div>
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/popper/popper.js"></script>
<script src="lib/bootstrap/bootstrap.js"></script>
<script src="lib/sweetAlert2/sweetalert2.js"></script>
<script src="js/registerPage.js"></script>

</html>