.lobby_b{
  background-color: rgba(126, 190, 181, 1);
  padding: 0px;

}
.bacolorgreen{
  background-color: rgba(2, 112, 85, 1);
}
.font_white{
  color:#FFFFFF;
}
.bottom{
  position:absolute;
  bottom: 0px;
}
.img{
  bottom: 10px;
}