.lobby_b {
  background-color: #7ebeb5;
  padding: 0px;
}
.bacolorgreen {
  background-color: #027055;
}
.font_white {
  color: #FFFFFF;
}
.bottom {
  position: absolute;
  bottom: 0px;
}
.img {
  bottom: 10px;
}
