.lobby_b{
  background-color: rgba(126, 190, 181, 1);
  padding: 0px;

}
.bacolorgreen{
  background-color: rgba(2, 112, 85, 1);
}
.font_white{
  color:#FFFFFF;
}
.bottom{
  position:absolute;
 bottom: 0px;
}
.img{
  bottom: 10px;
}
.lobby{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;

}
.desk{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width:50%;
  height:300px;


}
.img_left{
  margin-right: 20px;
}
.img_right{
  margin-left: 20px;
}