#base {
  z-index: 0;
  width: 100%;
  height: 100%;
}
.label {
  font-size: 14px;
  text-align: center;
}
#backcl {
  background-color: #7ebeb5;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#loginbox {
  padding-top: 150px;
  width: 405px;
  height: 334px;
  margin: 0 auto;
}
#loginbox_div {
  display: flex;
  flex-direction: column;
  width: 405px;
  height: 334px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.25882353);
  border: none;
  border-radius: 23px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 auto;
}
#u5 {
  position: absolute;
  left: 2px;
  top: 159px;
  width: 401px;
  visibility: hidden;
  word-wrap: break-word;
}
#username_input {
  width: 314px;
  height: 34px;
  background: inherit;
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#username {
  margin: 0 auto;
  padding-top: 9px;
  width: 314px;
  height: 70px;
}
#pass_input {
  width: 314px;
  height: 34px;
  background: inherit;
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#pass {
  margin: 0 auto;
  padding-top: 9px;
  width: 314px;
  height: 60px;
}
#u7 {
  position: absolute;
  left: 2px;
  top: 9px;
  width: 310px;
  visibility: hidden;
  word-wrap: break-word;
}
#text {
  margin: 0 auto;
  padding-top: 20px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Cooper Std Black', 'Cooper Std';
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
  color: #FFFFFF;
}
#u8 {
  position: absolute;
  left: 366px;
  top: 234px;
  width: 190px;
  height: 34px;
  font-family: 'Cooper Std Black', 'Cooper Std';
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
  color: #FFFFFF;
}
#titletext {
  left: 0px;
  top: 0px;
  width: 190px;
  white-space: nowrap;
}
#u10_div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 314px;
  height: 34px;
  background: inherit;
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#u10 {
  position: absolute;
  left: 304px;
  top: 391px;
  width: 314px;
  height: 34px;
}
#u11 {
  position: absolute;
  left: 2px;
  top: 9px;
  width: 310px;
  visibility: hidden;
  word-wrap: break-word;
}
#u12_div {
  width: 91px;
  height: 17px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Cooper Std Black', 'Cooper Std';
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
}
#username_div {
  flex-direction: row;
  width: 100%;
  height: 17px;
  font-family: 'Cooper Std Black', 'Cooper Std';
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
}
#username_text {
  padding-left: 11%;
  display: flex;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
}
#pass_div {
  flex-direction: row;
  width: 100%;
  height: 17px;
  font-family: 'Cooper Std Black', 'Cooper Std';
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
}
#pass_text {
  padding-left: 11%;
  display: flex;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
}
.img {
  margin-right: 3px;
  margin-bottom: 3px;
}
.btn {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background: inherit;
  background-color: #ffcc33;
  font-family: 'Cooper Black', 'Cooper';
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0 auto;
}
#u14_div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 91px;
  height: 17px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Cooper Std Black', 'Cooper Std';
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
}
#u14 {
  position: absolute;
  left: 330px;
  top: 369px;
  width: 91px;
  height: 17px;
  font-family: 'Cooper Std Black', 'Cooper Std';
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
}
#u15 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 91px;
  white-space: nowrap;
}
#u16_div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 247px;
  height: 106px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: #027055;
}
#logo {
  padding-top: 100px;
  width: 247px;
  height: 106px;
  margin: 0 auto;
  font-family: 'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: #027055;
}
#u17 {
  width: 247px;
  white-space: nowrap;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.64705882);
  -webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.64705882);
  -moz-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.64705882);
}
#u18_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 15px;
  height: 20px;
}
#u18 {
  position: absolute;
  left: 311px;
  top: 364px;
  width: 15px;
  height: 20px;
}
#u19 {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 11px;
  visibility: hidden;
  word-wrap: break-word;
}
#username_img {
  width: 18px;
  height: 19px;
}
#pass_img {
  width: 18px;
  height: 19px;
}
#u20 {
  position: absolute;
  left: 309px;
  top: 286px;
  width: 18px;
  height: 19px;
}
#u21 {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 14px;
  visibility: hidden;
  word-wrap: break-word;
}
#u22_div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#u22 {
  position: absolute;
  left: 372px;
  top: 505px;
  width: 178px;
  height: 18px;
}
#info {
  margin: 0 auto;
  white-space: nowrap;
}
#u24_div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 40px;
  background: inherit;
  background-color: #ffcc33;
  border: none;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Cooper Black', 'Cooper';
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
}
#u24 {
  position: absolute;
  left: 391px;
  top: 455px;
  width: 140px;
  height: 40px;
  font-family: 'Cooper Black', 'Cooper';
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
}
#u25 {
  position: absolute;
  left: 2px;
  top: 8px;
  width: 136px;
  word-wrap: break-word;
}
